@tailwind base;
@tailwind components;
@tailwind utilities;

.block-1{
	background-image: url("./assets/sliderimg-3.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	position: relative;
}

.block-1::after{
	content: "";
	position: absolute;
	background-color: black;
	opacity: .1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.block-2{
	background-image: url("./assets/sliderimg-4.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 90vh;
}
.block-2::after{
	content: "";
	position: absolute;
	background-color: black;
	opacity: .1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.block-3{
	background-image: url("./assets/sliderimg-2.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
}
.block-3::after{
	content: "";
	position: absolute;
	background-color: black;
	opacity: .1;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}
.slick-list {
	overflow: hidden;
	display: flex;
}

.slick-track {
	display: flex;
}

.slick-next {
	position: absolute !important;
	right: 80px !important;
	font-size: 0 !important;
	width: 40px !important;
	top: 22rem;
	height: 40px !important;
	border: none;
	cursor: pointer;

	background-image: url("./assets/arrow-right.png");
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: center;
}

.slick-prev {
	position: absolute !important;
	font-size: 0 !important;
	width: 40px !important;
	height: 40px !important;
	left: 80px !important;
	top: 22rem;
	border: none;
	cursor: pointer;
	z-index: 999;

	background-image: url("./assets/left-arrow-5.png");
	background-repeat: no-repeat;
	background-size: 2rem;
	background-position: center;
}


.active{
	color: white;
}